.check{
    position: relative;
    width: 50px;
/*     cursor: pointer;
    margin: 0px 5px;  */
	height: min-content;     
}

.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #333;
}

.check:checked:before{
    background: rgb(77, 189, 77);
}   

.lang{
    display: flex;
}

.en,
.es{
    margin: auto 5px;
    width: 30px;
    display: block;
    cursor: pointer;
}
